theme "catppuccin-mocha"

keybinds {
  normal {
    bind "Ctrl t" { NewTab; }
    bind "Ctrl w" { CloseTab; }
    bind "Ctrl h" { MoveFocus "Left"; }
    bind "Ctrl l" { MoveFocus "Right"; }
    bind "Ctrl j" { MoveFocus "Down"; }
    bind "Ctrl k" { MoveFocus "Up"; }
  }
}
