{
  "quietStartup": true,
  "skills": [],
  "theme": "catppuccin-mocha",
  "hideThinkingBlock": false,
  "transport": "sse",
  "packages": [
    "npm:lsp-pi",
    "extensions/pi-lens",
    "extensions/@tintinweb/pi-subagents",
    "extensions/rpiv-advisor",
    "extensions/rpiv-todo",
    "extensions/@juicesharp/rpiv-i18n",
    "extensions/rpiv-web-tools",
    "extensions/@juicesharp/rpiv-args",
    "extensions/pi-retry"
  ],
  "collapseChangelog": true,
  "doubleEscapeAction": "tree",
  "extensions": [
    "-extensions/rpiv-ask-user-question/index.ts",
    "-extensions/web-fetch/index.ts"
  ]
}
